@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Quicksand:wght@400;600&family=Oxygen:wght@400;600&display=swap');

$font-logo: 'Meow Script', serif;
$font-base: 'Oxygen', sans-serif;
$font-detail: 'Quicksand', sans-serif;
$dark-grey: #222;
$marigold: #f89514;
$rounded-corners: 14px;

@mixin form-special {
    color: $dark-grey;
    font-family: $font-detail;
    font-size: 1.2em;
}

/* ------- Structural Elements ------ */


body{
    font-family: $font-base;
    height:100vh;
    width: 100%;
    margin: 0 !important;
    z-index: 0;
    background-image: url('../media/temples.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    overflow-x: hidden;
}

.import-images{
    visibility: hidden;

    .alt1{
        background-image: url('../media/mountains.jpg');
    }
    .alt2{
        background-image: url('../media/skyline.png');
    }
    .alt3{
        background-image: url('../media/palms.jpg');
    }
}

header {
    .logo{
        min-height: 100px;
        margin: 0 !important;
        padding: 30px;
    }
}

nav {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $dark-grey;
    z-index: 5;
    position: sticky;

    .dropdown {
        overflow: hidden;
    
        .dropbtn {
            font-size: 16px;  
            border: none;
            outline: none;
            padding: 0 30px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;

            &::after {
                content: '▾';
                margin: 0 10px;
            }
        }

        &:hover {
            .dropbtn {
                color: $marigold;
            }
            .theme-menu {
                display: block;
            }
        }
    }
      
    .theme-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        li {
            list-style-type: none;
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover {
                color: $marigold;
                background-color: #e7e7e7;
                font-weight: 600;
            }
        }
    }
}

main {
    font-family: $font-base;
    min-height: 100px;
    padding: 1em;
    grid-gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search {
    margin: 10% 5%;
    width: auto;
    background-color:#fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    padding: 1em;
    border-radius: $rounded-corners;
}

.title{
    height: 2em;
    margin-bottom: 1.5em;
}

form {
    background-color:rgb(172, 172, 172);
    border-radius: $rounded-corners;
    padding: 20px !important;
    display: grid ! important;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
}

label{
    display:block;
    font-weight: 600;

    &.label-main {
        @include form-special;
    }

    &#label-destination {
        grid-column: 1 / span 6;
        grid-row: 1 / 2;
    }
    &#label-when {
        grid-column: 7 / span 6;
        grid-row: 1 / 2;
    }
    &#label-start-date {
        grid-column: 7 / 8;
        grid-row: 2 / 3;
        text-align: end;
    }
    &#label-end-date {
        grid-column: 7 / 8;
        grid-row: 3 / 4;
        text-align: end;
    }
}

input{
    display:block;
    padding: .5em;
    height: 30px;
    max-width: 100%;
    background-color: #f9f9f9;
    color: $dark-grey; 
    font-family: $font-base !important;
    border-radius: 4px;

    &#destination{
        grid-column: 1 / span 5;
        grid-row: 2 / 3;
    }
    &#start-date{
        grid-column: 8 / -1;
        grid-row: 2 / 3;
    }
    &#end-date{
        grid-column: 8 / -1;
        grid-row: 3 / 4;
    }
}


textarea{
    padding: .5em;
    color: #b9b9b9; 
    font-size: inherit;
    border: none;
    min-width: 320px;
    max-width: 100%;
    border-radius: 4px;
}

button {
    width: 100%;
    height: 2em;
    background-color: transparent;
    // border: 1px solid #fff !important;
    color: #fff;
    font-size: 1.5em;
    font-weight: 200;
    border-radius: 4px;
    border: none;
    transition: all 500ms;
}
button:hover {
    background: #183517;
}
button:active {
    background: #192519;
}

footer {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    background-color: $dark-grey;
    min-height: 200px;
}

footer p {
    padding: 5%;
    font-size: smaller;
    text-align: right;
    color: rgb(172, 172, 172)
}

/* adjustments for responsiveness */
@media screen and (max-width: 743px) {
    main {
        flex-direction: column;
    }

    // #add-new-entry {
    //     width: 100%;
    //     max-width: 100%;
    // }
}






// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
// }
// /* Style for Placeholder Text*/
// ::placeholder, /* Firefox, Chrome, Opera */ 
// :-ms-input-placeholder, /* Internet Explorer 10-11 */
// ::-ms-input-placeholder /* Microsoft Edge */ { 
//     color: #6e6e6e !important; 
// } 

/* ------- Typography -------- */

html {
    font-family: $font-base;
    color: #000;
}

h1{
    font-family: $font-logo !important;
    font-size: 5.5em;
    text-align: right;
    margin: 0 30px;
}

h2{
    font-family: $font-logo !important;
    font-size: 3em;
    // font-weight: 700;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1em;
}

a {
    color: $marigold;
}